# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Studia UWr\Semestr 2\Programowanie  w C++\Programowanie w C++\Lista 1\Zadanie3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
